body {
    background: darksalmon;
}

.first_paragraph {
    background: darkorange;
    font-family: Arial, cursive;
    font-size: large;
}
.second_paragraph {
    background: darkorange;
    font-family: Algerian, fantasy;
    font-size: small;
}