.first_paragraph {
    background: darkorange;
    font-family: Arial, cursive;
    font-size: large;
    margin: 300px;
}
.second_paragraph {
    background: darkorange;
    font-family: Algerian, fantasy;
    font-size: small;
}